.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: lightcyan;
  color: black;
}

.navbar a.active {
  background-color: rgb(41, 172, 224);
  color: black;
}

.main {
  margin-top: 50px;
}