.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: lightcyan;
  color: black;
}

.navbar a.active {
  background-color: rgb(41, 172, 224);
  color: black;
}

.main {
  margin-top: 50px;
}

.center {
  padding: 300px 0;
  text-align: center;
  color: black;
  text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
  outline-color: white;
  font-family: Lucida Console, Courier New, monospace;
}

body, html {
  height: 100%;
}

html { 
  background: url(background.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.information-table {
  margin-top: 80px;
  margin-bottom: 80px;
  border-radius: 25px;
  background: rgb(41, 172, 224);
  padding: 20px;
  width: 700px;
  height: flexible;
  font-family: Lucida Console, Courier New, monospace;
}

.about-table {
  margin-top: 250px;
  align-items: center;
  border-radius: 25px;
  background: rgb(41, 172, 224);
  padding: 20px;
  width: 700px;
  height: flexible;
  font-family: Lucida Console, Courier New, monospace;
    box-shadow: 5px 10px lightcyan;
}

.youri{
text-align: center;
font-family: Lucida Console, Courier New, monospace;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}